body{
    margin: auto;
    background-color: white;
    color: rgba(255, 255, 255, 0.5);
}

.mainflex{
    display: flex;
    justify-content: center;
    margin: 8% auto;
    width: 51.5%;
    height: 60%;
}

.head{
    margin: 5%;
}

.sedans{
    background-color: rgb(255, 123, 0);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.suvs{
    background-color: rgb(46, 122, 128);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
.luxury{
    background-color: rgb(0, 46, 32);
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button{
    background-color: white;
    color: white;
    border: 1px solid orange;
    border-radius: 50px;
    width: 55%;
    padding: 10px;
    text-align: center;
    font-size: large;
    font-weight: 700;
}

#sedbut{
    color: orange;
}

#suvbut{
    color: rgb(46, 122, 128);
    border-color: rgb(48, 124, 130);
}

#luxbut{
    color: rgb(0, 46, 32); 
    border-color: rgb(2, 99, 70);
}

#sedbut:hover{
    border-color: white;
    color: white;
    background: transparent;
}
#suvbut:hover{
    border-color: white;
    color: white;
    background: transparent;
}
#luxbut:hover{
    border-color: white;
    color: white;
    background: transparent;
}

.text{
    margin: auto 0px 40px auto;
}
